<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" color="tertiary" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngFor="let item of items">
      <ion-item button (click)="onPage(item.action)">
        <ion-icon slot="start" [name]="item.icon"></ion-icon>
        <ion-label>{{ item.title }}</ion-label>
      </ion-item>
    </ng-container>
    <ion-item button (click)="signOut()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Salir del Sistema</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title color="warning">
      Versión
      {{ version || '1.0.0' }}
    </ion-title>
  </ion-toolbar>
</ion-footer>
