<ion-header>
  <ion-toolbar>
    <ion-title>Olvide Contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container mt-4">
    <div class="box">
      <div [formGroup]="form">
        <div class="form-group">
          <label for="forgot" class="mb-1">Correo Electrónico</label>
          <input type="email" formControlName="email"
            class="form-control" id="forgot" placeholder="">
        </div>
        <ion-button mode="ios" (click)="onSubmit()" [disabled]="form.invalid"
        class="mt-3" expand="block" color="danger">
        Entrar
      </ion-button>
      </div>
    </div>
  </div>
</ion-content>
