<ng-container >
  <div class="container my-4">
    <div class="row g-3">
      <div class="col-4 mb-1" *ngFor="let item of data | slice:0:toogle ? 1000:3">
        <ion-card (click)="onGoPage(item.action)">
          <ion-card-content>
            <ion-icon [name]="item.icon"></ion-icon>
            <ion-label>{{ item.title }}</ion-label>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col-12">
        <ion-button (click)="onToggle()" expand="block" fill="clear" size="small">
          <ion-icon slot="icon-only"
            [name]="
            toogle ?
            'chevron-up-outline' :
            'chevron-down-outline'"
          ></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ng-container>
