<app-header [home]="true" [menu]="false" href="/pages/home"></app-header>
<ion-content>
  <ion-list>
    <ng-container *ngFor="let item of items$ | async">
      <ion-item button (click)="onView(item.id)">
        <ion-label>
          <h4>{{ item.createdAt.seconds * 1000 | amLocale: 'es' | amTimeAgo }}</h4>
          <h2>Status: Creado</h2>
          <h3>{{ item.id }}</h3>
          <ng-container *ngIf="item.total; else porDefinir">
            <h3>Total: {{ item.total | currency }}</h3>
          </ng-container>
          <ng-template #porDefinir>
            <h3>Total: Por definir</h3>
          </ng-template>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" color="tertiary" name="chatbubbles-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ng-container>

  </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openItem()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
