<app-header [home]="true" href="/pages/home"></app-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items$ | async">
      <ion-label>
        <p>Codigo {{ item.id }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" color="tertiary" name="chatbubbles"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openItem()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
