<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" class="py-2">
    <ng-container *ngIf="backButton">
      <ion-buttons slot="start">
        <ion-button (click)="onGoPage(href)">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-circle-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
