ion-header {
  ion-toolbar {
    --background: #424242;
    ion-buttons {
      ion-button {
        ion-icon {
          --ionicon-stroke-width: 32px;
          color: var(--ion-color-warning-shade);
        }
      }
      .person {
        height: 40px;
        --background: rgba(255,255,255,.15);
        --border-radius: 25px;
      }
    }
  }
}
