<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ng-container *ngIf="home; else menu">
        <ion-button (click)="onGoHome(href)">
          <ion-icon slot="icon-only" name="home" color="warning"></ion-icon>
        </ion-button>
      </ng-container>
      <ng-template #menu>
        <ion-button class="person" (click)="onGoPage('/pages/menu')">
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </ng-template>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onGoCart()">
        <ion-icon slot="icon-only"
        [name]="(total$ | async) === 0 ? 'basket-outline': 'basket'">
      </ion-icon>
      <ng-container *ngIf="(total$ | async) > 0">
        <ion-badge color="light" mode="ios">{{ (total$ | async) }}</ion-badge>
      </ng-container>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
